.contacts{
    display: flex;
    flex-direction: column;
    flex:0.7;
    margin:5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

.contact{
    background: #11f7ff;
    flex: 1;
    max-height: 4vh;
    margin: 2px;
    text-align: center;
}

.contact:hover{
    background: #0c7ae0;
}

.contactsContainer{
    flex:9.5;
    display: flex;
    flex-direction: column;
}

.contactsHeader{
    background: #4DADF5;
    border-radius: 10px;
    flex: 0.5;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}